<h1>Search</h1>

<h5 class="alert alert-primary"><%= @users.size %> users found</h5>

<% @users.each do |user| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= user.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= user.username %></h6>
      <p class="card-text"><%= user.bio %></p>
    </div>
  </div>
<% end %>
